<h1>Create An Account</h1>

<%= form_for @user do |f| %>
	<% unless @user.errors.empty? %>
		<div class="alert alert-danger">
			<%= @user.errors.full_messages.to_sentence %>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, placeholder: "Enter your full name.", class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "Enter your email...", class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>
	</div>
		<%= f.submit "Create Account", class: 'btn btn-secondary' %>
		<% end %>

	<form action="/users" method="post">

</form>