<div class="row">
	<div class="col-sm-4">

		<%= form_for(event) do |f| %>
			<% if event.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(event.errors.count, "errors") %>
						prohibited this event from being saved: </h2>
						<ul>
							<% event.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							<% end %>
						</ul>
				</div>
			<% end %>
			<%= f.hidden_field :user_id, :value => current_user.id %>

		  <div class="form-group">
		    <%= f.label :name %>
		    <%= f.text_field :name, class: 'form-control' %>
		  </div>

		  <div class="form-group">
		    <%= f.label "Description" %>
		    <%= f.text_area :extended_html_description, class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :starts_at %>
		    <%= f.time_select :starts_at, :ignore_date => true, class: 'form-control' %> <br/> 
		    <%= f.label "on" %>
		    <%= f.date_select :starts_at, class: 'form-control' %>

		  </div>

		  <div class="form-group">
		  	<%= f.label :ends_at %> 
		  	<%= f.time_select :ends_at, :ignore_date => true %> <br/> 
		    <%= f.label "on" %>
		    <%= f.date_select :ends_at %>
		  </div>

		  <div class="form-group">
		    <%= f.label :venue_id %>
		    <%= f.select :venue_id, Venue.all.map {|u| [u.name, u.id]} %>
		  </div>

		  <div class="form-group">
		    <%= f.label :category_id %>
		    <%= f.select :category_id, Category.all.map {|u| [u.name, u.id]} %>
		  </div>

		  <div class="form-group">
		    <%= f.label :hero_image_url %>
		    <%= f.text_field :hero_image_url, class: 'form-control' %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Create Event", class: 'btn btn-primary' %>
		  </div>
		<% end %>

	</div>
</div>