<div class="row">
	<div class="col-sm-4">

		<%= form_for @tickets.to_s , url: {action: "update"} do |f| %>
			<%#<% if @tickets.errors.any? %>
				<!-- <div id="error_explanation">
					<h2><%#<%= pluralize(@tickets.count, "errors") %>
						prohibited this event from being saved: </h2> -->
					<!--	<ul>
							<%#<% @tickets.errors.full_messages.each do |message| %>
								<%#<%= message %>
							<%#<% end %>
						</ul> 
				</div> -->
			<%#<% end %>

			<div class="form-group">
			  <%= f.label :name %>
			  <%= f.text_field :name, class: 'form-control' %>
			</div>

		  <div class="form-group">
		    <%= f.label :price %>
		    <%= f.text_field :price, class: 'form-control' %>
		  </div>

		  <div class="form-group">
		    <%= f.label :max_quantity %>
		    <%= f.text_field :max_quantity, class: 'form-control' %>
		  </div>


		  <div class="actions">
		    <%= f.submit "Create Tickets", class: 'btn btn-primary' %>
		  </div>
		<% end %>

	</div>
</div>