<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details"> 
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %> 
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-md-11 col-md-offset-1">  
      <table class="table">
        <th> Ticket Type </th>
        <th> Unit Price </th>
        <th> Quantity </th>
      <% if @event.ticket_types.present? %>
        <% @event.ticket_types.each do |type| %>
        <tr>
          <td>  <%= type.name %> 
            <div>
                (<%= pluralize type.remaining_quantity, 'ticket' %> available.)
            </div> 
          </td>
          <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
          <%= form_for @ticket do |f| %>
          <%#<%= f.select :ticket_type_id, @event.ticket_types.map {|u| [u.name, u.id]} %>
            <%= f.hidden_field :ticket_type_id, value: type.id %>
            <td> <%= f.select :quantity, 0..10 %></td> <%#type.max_quantity %>

          <td> 
            <%= f.submit "Buy", class: "btn btn-success btn-sm btn-block" %>
          <% end %> 
      </td>
    </tr>
    </div>
    </div>

        
        <%#<% else %>
          <%#<%= form_for(@event.ticket_types[:id]) do |f| %>
          <!--<tr>
 <td> <%#<%= text_field :name, :placeholder => "name" %></td>
  <td><%#<%= text_field :price, :placeholder => "price" %></td>
  <td><%#<%= select_tag('quantity', options_for_select(0..10)) %></td>
</tr> -->
          <% end %>
        <% end %>
      </table>
    </div>
  </div>

</div>  

